<div class="hand <%= @players[0] %>">
  <div class="row">
    <div class="large-2 columns text-center">
      <div class="avatar" style="background: #fff url(/assets/<%=  @game.players[0].downcase.tr(" " , "-") %>.jpg) no-repeat top center; background-size: auto 100%;"></div>
      <span class="player-name"><%= @players[0] %></span>
    </div>
  </div>

  <div class="row small-up-2 medium-up-3 large-up-4">
    <% hand.hand_cards.each do |card| %>
      <div class="column column-block">
        <img src="/assets/cards/<%= card.to_s.tr(" ", "-") %>.png">
      </div>
    <% end %>


  </div>
  
</div>