<div class="table">


      
  <div class="row small-up-2 medium-up-3 large-up-4">
    <% players.each do |player| %>
      <div class="column column-block">
        <div class="card">
          <div class="card-image float-center">
            <img src="/assets/cards/back.png">
          </div>
          <div class="card-section float-center">Karte von: <%=player%></div>
        </div>
      </div>
    <% end %>
  </div>
  

</div>
